.main {
  display: grid;
  grid-template-areas: "header header" "input output";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 6rem 1fr;
}

.header {
  align-self: center;
  grid-area: header;
  padding-left: 1rem;
}

.input {
  grid-area: input;
}

.output {
  grid-area: output;
}

.input,
.output {
  border: 0;
  height: calc(100vh - 6rem);
  padding: 0.8rem;
}

.input:focus,
.output:focus {
  outline: 0.1rem dashed black;
}
